@charset "UTF-8";
.evil-li{
	cursor: pointer;
	/* border-radius: 20px; */
	border-bottom-right-radius:20px;
	border-top-right-radius:20px;
	height: 40px;
	width: 200px;
	box-sizing: border-box;
	font-size: 15px;
	text-align:center;
	line-height: 40px;
	vertical-align: middle;
}
.evil-span{
	position: absolute;text-align: center;overflow: hidden;padding-left: 50px;
}
.evil-input-new{
	width:100px;
	height:25px;
}
.evil-book{
	display: inline-block;
	position: absolute;
	margin-left: 210px;
	width: 200px;
	height: 40px;
}
.evil-book-li{
	cursor: pointer;
	border-radius: 20px;
	height: 40px;
	width: 200px;
	box-sizing: border-box;
	font-size: 15px;
	text-align:right;
	line-height: 40px;
	vertical-align: middle;
	background-color: #bfda55;
}
.evil-book-li a{
	text-align: right;
	
}