@charset "UTF-8";
.evil-li{
	/* cursor: pointer; */
	/* border-radius: 20px; */
	border-bottom-right-radius:20px;
	border-top-right-radius:20px;
	height: 40px;
	width: 200px;
	box-sizing: border-box;
	font-size: 15px;
	text-align:center;
	line-height: 40px;
	vertical-align: middle;
	z-index: 1;
}
.evil-div{
	width: 200px;height: 40px;display: flex;
	cursor: pointer;position: absolute;
}
.evil-span{
	position: absolute;text-align: center;overflow: hidden;padding-left: 50px;
}
.evil-input-new{
	width:100px;
	height:25px;
}
.evil-book{
	display: inline-block;
	position: absolute;
	margin-left: 210px;
	width: 150px;
	height: 40px;
}
.evil-book-li{
	cursor: pointer;
	border-radius: 20px;
	height: 40px;
	width: 150px;
	box-sizing: border-box;
	font-size: 15px;
	text-align:right;
	line-height: 40px;
	vertical-align: middle;
	background-color: #bfda55;
	border: 1px outset;
}
.evil-book-li a{
	text-align: right;
}
.evil-rightclick-temp{
	position: relative;
	display: inline-block;background-color: #87c837;
	height: 40px;
	width: 160px;
	margin-left: 160px;
	border-radius: 20px 0 0 20px;
	z-index: 5;
	/* border-bottom: 1px solid;
	border-top: 1px solid;
	border-right: 1px solid; */
	/* box-shadow: 15px 15px 0 0 green; */
}
.evil-rightclick-inner{
	height: 40px;
	width: 40px;
	border-radius:0 50% 50% 0;
	float: left;
	background-color: beige;
}
.evil-del-btn{
	width: 40px;
	height: 30px;
	background-color: brown;
	margin-left: 50px;
	vertical-align: middle;
	margin-top: 5px;
	border-radius: 5px;
	line-height: 30px;
	cursor: pointer;
	display: inline-block;
	position: absolute;
}
.evil-edit-btn{
	width: 40px;
	height: 30px;
	background-color: brown;
	margin-left: 100px;
	vertical-align: middle;
	/* margin-top: 5px; */
	border-radius: 5px;
	line-height: 30px;
	cursor: pointer;
	display: inline-block;
}
.evil-edit-save-btn{
	width: 80px;height: 100px;top: 40px;right: 20px;position: fixed;
	border: 1px solid #dcdcdc;
	border-radius: 10px
}
.evil-save-release-btn{
    width: 60px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid #dcdcdc;
    background-color: #dcdcdc;
    margin-left: 8px;
    margin-top: 5px;
    text-align: center;
    cursor: pointer;
    font-size: 12px;
    vertical-align: middle;
    padding-top: 10px;
}
