body {
	height: 100%;
	box-sizing: border-box;
	margin: 0;
	display: block;
	background-color: white;
}
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,input,button,textarea,p,blockquote,th,td,form,pre{margin: 0; padding: 0; -webkit-tap-highlight-color:rgba(0,0,0,0)}
li{list-style:none;}
a{color: #333; text-decoration:none; }
a:hover{color: #777;}
a cite{font-style: normal; *cursor:pointer;}
img{display: inline-block; border: none; vertical-align: sub;}
.evil-header {
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 1;
	height: 80px;
	margin-bottom: 40px;
	min-height: 45px;
	display: block;
	box-sizing: border-box;
	background-color: burlywood;
}

.evil-header:before {
	content: ' ';
	display: table;
}

.evil-header:after {
	content: ' ';
	display: table;
	clear: both;
}

.evil-main {
	background-color: #fbf7f7;
	left: 200px;
	right: 200px;
	height: auto;
	min-height: 450px;
	padding: 0 15px 404px;
}

.evil-body {
	margin-left: auto;
	margin-right: auto;
	padding-left: 200px;
	padding-right: 200px;
}

.evil-common:before {
	content: ' ';
	display: table;
	box-sizing: border-box;
}

.evil-common:after {
	content: ' ';
	display: table;
	clear: both;
	box-sizing: border-box;
}

.evil-footer {
	/* position:absolute; */
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	/* padding-left: 200px;
	padding-right: 200px; */
	height: 20px;
}
.evil-logo {
	position: absolute;
	left: 0;
	top: 10px;
	width: 200px;
	height: 100%;
	line-height: 60px;
	text-align: center;
	font-size: 16px;
}

.evil-nav{position: relative; padding: 0 20px;  color: #fff; border-radius: 2px; font-size: 0; box-sizing: border-box;}
.evil-layout-left{position: absolute !important; left: 200px; top: 0;}
.evil-nav *{font-size: 18px;}
.evil-nav-item {
	position: relative;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	/* vertical-align: middle; */
	vertical-align: top;
	line-height: 60px;
}
.evil-nav .evil-nav-item a{display: block; padding: 15px 20px 0 20px; color: #fff; color: black; transition: all .3s; -webkit-transition: all .3s;}
.evil-layout-right{position: absolute !important; right: 0; top: 0;}

.evil-nav-img{width: 30px; height: 30px; margin-right: 10px; border-radius: 50%;margin-top: 20px}
.evil-nav-more{position: absolute; top: 28px; right: 3px; border-width: 6px; border-top-style: solid; border-top-color: #fff; border-top-color: rgba(255,255,255,.7);}

.evil-nav .evil-nav-more{content:''; width: 0; height: 0; border-style: dashed; border-color: transparent; overflow: hidden; cursor: pointer; transition: all .2s; -webkit-transition: all .2s;}
.evil-nav .evil-nav-more{position: absolute; top: 28px; right: 3px; border-width: 6px; border-top-style: solid; border-top-color: #fff; border-top-color: rgba(255,255,255,.7);}
.evil-nav .evil-nav-mored,
.evil-nav-itemed .evil-nav-more{top: 22px; border-style: dashed; border-color: transparent; border-bottom-style: solid; border-bottom-color: #fff;}
.evil-nav-bar{position: absolute; left: 15px; top: 70px; width: 70px; height: 5px; background-color: #5FB878; transition: all .2s; -webkit-transition: all .2s;}
.evil-nav-bar{z-index: 1000;}

.evil-nav-child{display: none; position  absolute; left: 0; top: 65px; min-width: 100%; line-height: 36px; padding: 5px 0;  box-shadow: 0 2px 4px rgba(0,0,0,.12); border: 1px solid #d2d2d2; background-color: #fff; z-index: 100; border-radius: 2px; white-space: nowrap;}
.evil-nav .evil-nav-child a{color: #333;}
.evil-nav .evil-nav-child a:hover{background-color: #f2f2f2; color: #000;}
.evil-nav-child dd{position: relative;}
.evil-nav-child dd.evil-this{background-color: #5FB878; color: #fff;}
.evil-nav .evil-nav-child dd.evil-this a{background-color: #5FB878; color: #fff;}
.evil-nav-child dd.evil-this:after{display: none;}

.evil-anim{-webkit-animation-duration: 0.3s; animation-duration: 0.3s; -webkit-animation-fill-mode: both; animation-fill-mode: both;}
.evil-anim-upbit{-webkit-animation-name: evil-upbit; animation-name: evil-upbit;}